#hero {
    background-image: url("../../../public/images/headerBg.png");
    height: 1024px;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
}