 @media only screen and (max-width: 768px) {
   .info {
     h3 {
       font-size: 35px !important;
       line-height: 50px !important;
     }

     p {

       font-weight: 400 !important;
       font-size: 14px !important;
       line-height: 17px !important;
     }
   }
    
 }

 .modal-content,.modal {
   background: #000 !important;
   .close{
    color:white !important;
   }
   bottom:0px !important;
   top:0px !important;
   right:0px !important;
  //  padding-top: 1rem;
 }
 .sidbar-nav{
  padding-top: 3rem;
  li{
    margin-top: 1.7rem;
    text-align: center;
    a{
      display: inline-block;
    }
  }
 }