 @media only screen and (max-width: 768px) {
   .info {
     h3 {
       font-size: 35px !important;
       line-height: 50px !important;
     }

     p {

       font-weight: 400 !important;
       font-size: 14px !important;
       line-height: 17px !important;
     }
   }
 }