 .primary-button {

   background: transparent;
  padding: 10px ;
   span {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     /* identical to box height */

     text-align: center;

     color: #FFFFFF;
     background: #FF7A00;
     border-radius: 17.3705px;
   padding: 10px 30px;
  //  width: 5007.16px;
  display: block;
   }

   border: 0.868526px solid #FF7A00;
   border-radius: 19.2071px;
  //  display: block;
 }